.grid-container{
    background-color: beige;
    padding: 10px;
    display: grid;
    grid-template-columns: 18% 50% 30%;
    grid-gap: 12px;
}
.grid-container > div{
    background-color: aqua;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
}
.item1{
    grid-column: 1/4;
}
.item2{
    grid-row: 2/4;
}
.item5{
  grid-area:3/2/4/4
}

/* cach 2 */
/* .item1{grid-area: header;}
.item2{grid-area: menu;}
.item3{grid-area: main;}
.item4{grid-area: right;}
.item5{grid-area: footer;}

.grid-container{
    background-color: beige;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    'header header header header header  header'
    'menu main main main right right'
    'menu footer footer footer footer footer';

    grid-gap: 10px;
}
.grid-container > div{
    background-color: aqua;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
} */
@media screen and (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-columns: auto;
    }
    .item1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item4{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item5{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    
}